extends base

block content
    div#recipeContainer(data-id=recipe._id)
        div
            each imgUrl in recipe.fileUrl
                img.photos(src="/" + imgUrl)

        div
            p=recipe.description
            small=recipe.createdAt
        div 
            small Uploaded by 
            a(href=`/users/${recipe.owner._id}`)=recipe.owner.name
        if String(recipe.owner._id) === String(loggedInUser._id)
            a(href=`${recipe.id}/edit`) Edit Recipe &rarr;
            br
            a(href=`${recipe.id}/delete`) Delete Recipe &rarr;


    div.recipe__comments
        form.recipe__comment-form#commentForm
            textarea(cols="30", rows="10" placeholder="Write a nice comment!")
            button Add comment
    div.recipe__comments
        ul 
            each comment in recipe.comment.reverse()
                li.recipe__comment(data-id=comment.id)=comment.text
                    if String(recipe.owner._id) === String(loggedInUser._id)
                        button.comment__delete-btn  ❌

block scripts 
    script(src="/static/js/commentSection.js")